:root {
  /* opacity */

  /* color */

  /* font-size */
  --large-text: calc((48 / 750) * 100vw);
  --medium-text: calc((36 / 750) * 100vw);
  --base-text: calc((32 / 750) * 100vw);
  --small-text: calc((24 / 750) * 100vw);

  /* heading */
  --h1: calc((70 / 750) * 100vw);
  --h2: calc((24 / 750) * 100vw);
  --h3: calc((40 / 750) * 100vw);

  /* line-height */
  --leading-head: 1.5;
  --leading-text: 1.75;

  /* indent */
  --indent-base: calc(-16 / 750 * 100vw);

  /* padding for indent */
  --negative-base: calc(16 / 750 * 100vw);

  /* gap(vertical) */

  /* gap(horizon) */

  /* margin for text */

  /* padding for button */

  /* transition */

  /* shadow */

  /* background-image */

  /* max-width */
}

/* responsive */
@media (min-width: 768px) {
  :root {
    --large-text: 2.6rem;
    --medium-text: 2.4rem;
    --base-text: 1.6rem;
    --small-text: 1.2rem;
    --h1: 4.2rem;
    --h2: 1.4rem;
    --h3: 2.4rem;
    --leading-head: 1.5;
    --leading-text: 2.5;
    --indent-base: -0.8rem;
    --negative-base: 0.8rem;
  }
}
