:root {
  /* opacity */

  /* color */

  /* font-size */
  --large-text: 2.4rem;
  --medium-text: 1.8rem;
  --base-text: 1.6rem;
  --small-text: 1.2rem;

  /* heading */
  --h1: calc((70 / 750) * 100vw);
  --h2: 1.2rem;
  --h3: 2rem;

  /* line-height */
  --leading-head: 1.5;
  --leading-text: 1.75;

  /* gap(vertical) */

  /* gap(horizon) */

  /* margin for text */

  /* padding for button */

  /* transition */

  /* shadow */

  /* background-image */

  /* max-width */
}

/* responsive */
@media (min-width: 768px) {
  :root {
    --large-text: 2.6rem;
    --medium-text: 2.4rem;
    --base-text: 1.6rem;
    --small-text: 1.2rem;
    --h1: 4.2rem;
    --h2: 1.4rem;
    --h3: 2.4rem;
    --leading-head: 1.5;
    --leading-text: 2.5;
  }
}
